@charset "utf-8";
/* CSS Document */

.top {
	float: top;
	height: auto;
	border-bottom: thin solid black;
}
.title-a {
	color: black;
}
.main_content {
	margin-top: 1em;
}
#main_buttons {
	margin-top: 15px;
	align-self: center;
}
#main_buttons .btn-outline-secondary {
	color: black;
}

.top { background: #B7B5B5; }
.left { background: #B7B5B5; }
