@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Changa+One&effect=anaglyph);
/* Game page */

#game-div {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
}

#history {
	text-align: left;
	font-size: medium;
}

#history-label {
	text-align: left;
	font-size: small;
}

#destination {
	text-align: center;
	font-size: medium;
}

#destination-label {
	text-align: center;
	font-size: small;
}

#timer {
	text-align: center;
	font-size: medium;
}

#timer-label {
	text-align: center;
	font-size: small;
}

#title {
	font-size: x-large;
}

#article {
	font-size: medium;
	overflow-wrap: break-word;
	overflow-y: scroll;
	max-height: 370px;
}

/* Lobby page */

.top {
	float: top;
	height: auto;
	border-bottom: thin solid black;
	background: #CCC;
}

.title-a {
	color: black;
	margin-left: 5px;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 1.2em;
}

.main_content {
	margin-top: 1em;
}
.list-group-item.end_row {
	display: flex;
	flex-direction: column;
}
.running {
	color: red;
}
.end_canvas {
	width: 95%;
	height: 50px;
}
.end_row_name {
	align-self: flex-start;
}
.end_row_time {
	align-self: flex-end;
}
#main_buttons {
	margin-top: 15px;
	align-self: center;
}

#main_buttons .btn-outline-secondary {
	color: black;
}

#counter {
	float: right;
	display: none;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 3em;
	padding-top: 5px;
	padding-bottom: .06em;
	padding-right: 1em;
	padding-left: 1em;
	border-left: thin solid black;
}

#end_timer {
	float: right;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 3em;
	padding-top: 5px;
	padding-bottom: .06em;
	padding-right: 1em;
	padding-left: 1em;
	border-left: thin solid black;
}

.my_danger {
	color: white;
	background-color: #80A1D4;
}
.my_danger:hover {
	background-color: #7593C1;
}

.my_success {
	color: white;
	background-color: #BBBE64;
}
.my_success:hover {
	background-color: #AAAD5B;
}

body {
	/*background-image: url("assets/shattered.png");*/
	background: #e52d27;  /* fallback for old browsers */
background: -webkit-linear-gradient(right, #b31217, #e52d27);
background: -o-linear-gradient(right, #b31217, #e52d27);
background: linear-gradient(to left, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Heebo', sans-serif !important;
}

h3.card-header {
	font-family: 'Heebo', sans-serif !important;
	font-weight: 900;
}
